.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
    margin: 5px;
  
    @media (max-width: 480px) {
      width: 40px;
      height: 40px;
      margin: 3px;
    }
  }
  
  .svgIcon {
    transition-duration: .3s;
  
    @media (max-width: 480px) {
      height: 25px !important;
    }
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .texte {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  
    @media (max-width: 480px) {
      font-size: 12px;
      width: 100px;
    }
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  
    @media (max-width: 480px) {
      width: 100px;
    }
  }
  
  .Btn:hover .texte {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 0px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}