.Header{
    display: flex;
    color: #000;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &.dark {
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);

        .Header__logoAndTitle {
            .logo {
                filter: invert(1);
            }

            .HeaderTitle {
                text-decoration-color: #fff;
            }
        }

        .Header__menu {
            .Header__menu__item {
                color: #fff;
            }
        }

        .Header__menu__item--active:after {
            background-color: #fff;
        }
    }

    .Header__logoAndTitle {
        display: flex;
        align-items: center;
        margin-right: auto;

        .logo{
            width: 50px;
            height: 50px;
        }

        .HeaderTitle{   
            font-size: 30px;
            font-weight: 700;
            text-decoration: underline 3px;
            margin-left: 20px;
        }
    }

    .Header__menu{
        display: flex;
        align-items: center;
        .Header__menu__item{
            margin-left: 20px;
            font-size: 18px;
            color:#000;
            font-weight: 500;
            text-decoration: none;
        }
    }

    .Header__menu__item--active:after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #000;
        transition: width 0.3s;
    }

    .Header__menu__item--active:hover:after{
        width: 100%;
    }
}


.changeMode{
    
    
    cursor: pointer;
    transition: transform 0.3s;
    width: 50px;
    border: none;
    background: transparent;

    &:hover{
        transform: scale(1.1);
    }

    &.dark{
        filter: invert(1);
    }
    
    
}